<div class="element list-group-item list-group-item-action flex-column align-items-start"
     data-bind="class: active($root.isSelected())">
  <div class="element--rendered">
    <div data-bind="click: $root.select" class="d-flex flex-column cursor-pointer">
      <span class="text-muted" data-bind="text: $root.typeOf(element.type()).name"></span>
      <strong data-bind="text: element.label"></strong>
    </div>
  </div>
  <div class="element--edit">

    <div class="d-flex justify-content-between">
      <div class="form-group mr-3" style="width: 60%;">
        <label data-bind="attr: { for: idValue('title',$parentContext.$index(),$index()) }">Geben Sie hier einen Titel ein.</label>
        <input data-bind="value: element.label, attr: { id: idValue('title',$parentContext.$index(),$index()) }" class="form-control" placeholder="Geben Sie hier einen Titel ein." type="text" />
      </div>

      <div class="form-group" style="width: 40%;">
        <label data-bind="attr: { for: idValue('config',$parentContext.$index(),$index()) }">Fragetyp</label>
        <select class="custom-select"
                data-bind="options: $root.types(),
                optionsText: 'name',
                optionsValue: 'type',
                value: type,
                attr: { id: idValue('config',$parentContext.$index(),$index()) }">
        </select>
      </div>
    </div>

    <div class="element--edit__options">
      <div data-bind="foreach: element.options">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text text-muted" id="basic-addon1">
              <i class="material-icons" data-bind="if: $parent.type() === 'checkboxGroup'">check_box_outline_blank</i>
              <i class="material-icons" data-bind="if: $parent.type() === 'radioGroup'">radio_button_unchecked</i>
            </span>
          </div>
          <input data-bind="value: value, attr: { placeholder: value }" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <span class="cursor-pointer text-muted" data-bind="click: $parent.removeOption"><i class="material-icons">close</i></span>
          </div>
        </div>
      </div>

      <!-- add new -->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text text-muted">
            <i class="material-icons" data-bind="if: type() === 'checkboxGroup'">check_box_outline_blank</i>
            <i class="material-icons" data-bind="if: type() === 'radioGroup'">radio_button_unchecked</i>
          </span>
        </div>
        <a class="cursor-pointer" data-bind="click: addOption">Option hinzufügen</a>
      </div>
    </div>

    <hr>
    <div class="d-flex justify-content-end align-items-center form-inline">
      <button class="btn btn-float btn-sm btn-menu" data-bind="click: $parent.remove.bind($data, $index())"><i class="material-icons">delete_outline</i></button>

      <p class="divider-horizontal"></p>

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input data-bind="checked: element.required, attr: { id: idValue('required',$parentContext.$index(),$index()) }" value="true" type="checkbox" class="custom-control-input" />
          <label class="custom-control-label"  data-bind="attr: { for: idValue('required',$parentContext.$index(),$index()) }">Pflichtfrage</label>
        </div>
      </div>

    </div>
  </div>
</div>
