/* todo SASS */
.element--edit,
.active > .element--rendered {
  display: none !important;
}

.element--rendered,
.active > .element--edit {
  display: inherit !important;
}

.nav-link.nav-icon-link {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
  min-width: 0;
  padding: 0;
  border-radius: 50%;
}

.btn-menu,
.btn-menu:active {
    box-shadow: none;
}

.card-title.with-action {
  margin-bottom: 0;
}
.divider-horizontal {
  border-left: 1px solid rgba(0,0,0,.42);
  height: 32px;
  margin: 0 16px;
  width: 0;
}

/* OLD - ARCHIVED*/
.nextforms {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-pane {

}

/* form-field */
/*
.form-field:hover {
  background-color: #eee;
}
*/
.form-field.focused .form-field__body {
  border-top: blue 4px solid;
  background-color: #eee;
}
.form-field__body {

}
.form-field__content {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

}
.toolbar_field-top,
.toolbar_field-bottom {

}
.toolbar_field-bottom {
  border-top: 1px solid #ccc;
}
