.cursor-pointer {
  cursor: pointer; }

.element--edit,
.active > .element--rendered {
  display: none !important; }

.element--rendered,
.active > .element--edit {
  display: inherit !important; }

.nav-link.nav-icon-link {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
  min-width: 0;
  padding: 0;
  border-radius: 50%; }

.btn-menu,
.btn-menu:active {
  box-shadow: none; }

.card-title.with-action {
  margin-bottom: 0; }

.divider-horizontal {
  border-left: 1px solid rgba(0, 0, 0, 0.42);
  height: 32px;
  margin: 0 16px;
  width: 0; }

/* form-field */
/*
.form-field:hover {
  background-color: #eee;
}
*/
.form-field.focused .form-field__body {
  border-top: blue 4px solid;
  background-color: #eee; }

.form-field__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: start;
      justify-content: flex-start; }

.toolbar_field-bottom {
  border-top: 1px solid #ccc; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
